// @import '../node_modules/normalize.css/normalize.css';

* {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background:black;
}

h1, h2, h3, p, button {
  margin: 0;
}

li {
  list-style: none;
}

.fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.view-nav {
  padding: 25px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  div {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    p {
      color: white;
      font-weight: 300
    }
    span {
      font-weight: 500
    }
    ul {
      margin-left: auto;
      display: inline-flex;
      @media screen and (max-width: 800px) {
        display: none;
      }
      li {
        margin-left: 30px;
        font-weight: 400;
        color: white;
      }
    }
  }
}

header {
  padding: 8em 20px 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 140vh;
  // background: linear-gradient(210deg, rgb(255, 60, 196) 0%, rgb(206, 63, 52) 40.13%, rgb(252, 154, 87) 90%);
  background: linear-gradient(0deg,rgba(85, 85, 85, 0.459),rgba(53, 53, 53, 0.63)), url('/static/bg.jpg!d');
  background-blend-mode: luminosity;
  background-color: rgba(48, 48, 48, 0.753);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  .wrapper {
    margin: 0 auto;
  }
  .logo {
    height: 5em;
    margin-bottom: 4em;
  }
  p {
    color: white;
    text-align: center;
    line-height: 2em;
    font-size: .9em;
    @media screen and (max-width: 800px) {
      text-align: left;
    }
  }
  .buttons {
    margin: 3em auto;
    max-width: 40em;
    display: flex;
    width: 100%;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
  .btn {
    cursor: pointer;
    padding: 20px;
    width: 15em;
    border-radius: 50px;
    @media screen and (max-width: 800px) {
      width: 100%;
      margin-bottom: 20px;
    }
    &:hover {
      opacity: .7;
    }
  }
  .outline {
    border: 3px solid white;
    background: transparent;
    margin-right: auto;
    color: white;
    &:hover {
      background: white;
      color: black;
    }
  }
}

h1 {
  margin-bottom: 1em;
  color: white;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  @media screen and (max-width: 800px) {
    font-size: 2.5em;
  }
}